# i want to ignore binary files with no extension

# Ignore all
*

# Unignore all necessary files
!*.md
!*.c
!*.h
!*.conf

# Unignore all dirs
!*/

# Unignore Makefile
!Makefile

# Unignore man page file
!*.1
